* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Newsreader', Arial, Helvetica, sans-serif;
}
/*just finished with the textLeft class*/
body {
    width: 100%;
    background-color: white;
}

footer {
    background-color: rgb(7, 7, 7);
}

.white {
    color: white;
}

.black {
    color: black;
}

.blue {
    color: #00d4ff;
}

.black_background {
    background-color: black;
}

.fullWidth {
    width: 100%;
}
.textLeft {
    text-align: left;
}
.alignCenter {
    text-align: center;
}
.flex {
    display: flex;
}
.marginBottom{
    margin-bottom: 4rem;
}
.bioDiv {
    margin: 0 auto auto auto;
}
.blueBorder{
    border: #00d4ff 2px solid;
}
.lrgFont {
    font-weight: bold;
    font-size: x-large;
}
.xlFont{
    font-size: 2rem;
}
.bioFont {
    font-size: 1.5rem;
    line-height: 2rem;
}

.marginTop {
    margin-top: 4rem;
}
.tinyText {
    font-size: xx-small;
}

.nav_links {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    border-bottom: solid 4px #00d4ff;
}

nav .ulContainer ul li a.edit{
    color: #00d4ff;
    transition: all 1.5s;
}

.navStick {
    position: fixed;
    top: 0;
    z-index: 99;
}

.fa-bars {
    height: 40px;
    font-size: 40px;
    position: fixed;
    z-index: 55;
    right: 5px;
    top: 4px;
    color: #00d4ff;
    display: none;
}

.fa-bars:hover {
    cursor: pointer;
}
/*------------------*/
.dropdown-content {
    display: block;
    background-color: rgb(54, 54, 54);
    height: 200px;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
}

.dropdown-content a{
    float: none;
    text-align: left;
    padding: 20px 30px;
    font-size: 25px;
    display: block;
    width: 100%;
    color: #00d4ff;
}

.burgerAnimation {
    display: none;
}

.redirects {
    padding-right: 10px;
}

.redirects li {
    font-size: 22px;
    list-style: none;
    display: inline-flex;
    margin: 10px 20px;
    align-items: center;
    text-align: center;
}

.redirects a {
    color: white;
    text-decoration: none;
}

.redirects a::after {
    content: "";
    height: 2px;
    width: 0;
    display: block;
    background-color: #00d4ff;
}

.redirects a:hover {
    cursor: pointer;
}

.redirects li a:hover::after {
    width: 100%;
    transition: .3s;
}

.sectioner {
    padding-right: 5%;
    padding-left: 5%;
    position: relative;
}

.darkH1 {
    letter-spacing: 3px;
    font-size: 50px;
    padding: 150px 75px 15px 75px;
    opacity: 0;
}
.about1 {
    letter-spacing: 3px;
    font-size: 50px;
    padding: 8rem 75px 15px 75px;
    opacity: 1;
}
.aboutDiv {
    height: 5px;
    width: 10%;
    margin: auto;
    margin-bottom: 6rem;
    opacity: 1;
}

.h1Edit {
    animation: slide_right .5s ease forwards;
    opacity: 1;
}

.border {
    animation: slide_left .5s ease forwards;
    animation-delay: .3s;
    opacity: 1;
}

.divBar {
    height: 5px;
    width: 10%;
    margin: auto;
    margin-bottom: 6rem;
    opacity: 0;
}

span {
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px);
    display: inline-block;
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
}

p {
    margin: 20px 40px 10px 40px;
    color: black;
}

.bio {
    margin-top: 5%;
    margin-bottom: 5%;
}

.skillsWrapper {
    justify-content: space-around;
}

.portrait {
    image-resolution: 100px;
    padding-top: 20px;
}

.container {
    border: black 2px solid;
    font-size: 20px;
    padding: 0 5% 0 5%;
}

.container h2{
    margin-top: 10px;
}

.icons {
    display: flex;
}

.icon {
    margin: auto;
}

figcaption {
    font-size: 30px;
}
/******************** Weather App ****************************************************************/
.weather-app-container {
    align-content: center;
    border-radius: 5px;
    background-size: cover;
    overflow: hidden;
    height: fit-content;
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -5;
    filter: brightness(65%);
    object-fit: fill;
}

.current_weather_container {
    display: flex;
    padding-top: 45px;
    grid-column: auto;
    margin: auto;
}

.cityName {
    font-size: 50px;
}

.current_date_container{
    width: 33%;
    justify-content: left;
}

.current_date {
    font-size: 30px;
}

.current_weather {
    width: 80%;
    padding: 0 0 20px 0;
    display: flex;
}

.current_temp_container {
    font-size: 90px;
    padding-right: 80px;
}
.moveLeft {
    padding-right: 20%;
}

.hourly {
    font-size: 25px;
    font-weight: bold;
    border-bottom: rgb(211, 211, 211) 1px solid;
    padding-bottom: 3px;
}

.daily {
    font-size: 25px;
    font-weight: bold;
    border-bottom: rgb(211, 211, 211) 1px solid;
    padding: 20px 0 3px 0;
}

.current_weather_item{
    margin: auto;
}

.current_data {
    display: table-column;
    margin: auto;
}

.current_weather_class {
    display: row;
    padding-top: 10px;
}

.current_weather_class:first-child {
    padding-top: 30px;
}

.weather_class{
    width: 100px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.forecast_weather_class{
    width: 140px;
    min-width: 140px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}

.justifyLeft {
    justify-content: left;
    left: 0;
}

.extraPadding {
    padding-bottom: 20px;
}

.weather_item {
    display:table-row;
}

#description{
    font-size: 25px;
    width: 200px;
    display: inline-block;
    white-space: nowrap;
}

.increaseFont {
    font-size: 20px;
}

.increaseTempFont {
    font-size: 25px;
}

.decreaseTempFont {
    padding-top: 1%;
    margin-top: 15px;
    color: rgb(216, 215, 215);
}

.submitDiv {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

.weatherSubmit {
    height: 45px;
    font-size: 20px;
    width: 45px;
    background-color: rgb(59, 59, 59);
    border-left: rgb(0, 255, 13) 2px solid;
    border-radius: 2px;
    top: 0px;
    right: 0px;
    line-height: 2.2;
    position: absolute;
    z-index: 10;
}

.weatherSubmit:hover {
    cursor: pointer;
}

.inputValue{
    height: 45px;
    width: 45px;
    background-color: rgb(44, 44, 44);
    font-size: 16px;
    border: none;
    opacity: 0.9;
}

.searchbarAnimation {
    animation: openSearchBar .65s ease-in forwards;
}

.inputValue::placeholder{
    color: white;
    opacity: 1;
}

.forecast_weather {
    display: flex;
    margin: auto;
    width: 95%;
    overflow: hidden;
}

.top {
    padding-bottom: 10px;
}

.top::-webkit-scrollbar{
    display: none;
}
.bottom::-webkit-scrollbar{
    display: none;
    overflow-y: auto;
}

.bottom {
    padding: 0 0 10px 0;
}
.weather_image {
    align-content: center;
}

.slider_container1, .slider1{
    height: 130px;
    overflow: hidden;
}
.slider2 {
    height: 150px;
}
.slider_container2 {
    height: 150px;
}

.slider1, .slider2, .innerSlider1, .innerSlider2 {
    position: absolute;
    touch-action: none;
}

.innerSlider1, .innerSlider2 {
    top: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: scroll;
}


/*Footer area*/
            

#white {
    text-align: center;
    letter-spacing: 3px;
    font-size: 50px;
    padding: 150px 75px 15px 75px;
    margin-top: 15%;
    opacity: 0;
}

#white-bar {
    background-color: white;
}

#contact {
    background-color: #000000;
}

#container-contact-form {
    text-align: center;
    width: 100%;
    border: black solid 2px;
    max-width: 1200px;
    margin: auto;
}

#container-area {
   width: 100%;
   height: 100%;
   margin: auto auto 30px auto;
   padding: 0 20% 30px 20%;
   text-align: left;
}

#container-area input {
    margin-bottom: 4px;
}

.name-email {
    height: 35px;
    font-size: 20px;
    background-color: rgb(8, 8, 17);
    border: none;
    border: #00d4ff 2px solid;
}

#container-area textarea {
    width: 100%;
    height: 150px;
    font-size: 20px;
    background-color: rgb(8, 8, 17);
    border: none;
    color: white;
    border: #00d4ff 2px solid;
}

input[type=text], textarea[type=text] {
    padding-left: 5px;
}
textarea[type=text] {
    padding-top: 5px;
}

#submit {
    float: right;
    width: 100px;
    height: 30px;
    color: #00d4ff;
    background-color:black;
    border: #00d4ff 2px solid;
    cursor: pointer;
}

#submit:hover {
    background-color: #00d4ff;
    border: white 2px solid;
    color: white;
}

.button {
    transition: all .5s;
}

.socials {
    text-align: center;
}

.socials i {
    align-content: space-between;
    margin: 1% 35px 1% 35px;
    cursor: pointer;
}

.fa {
    text-decoration: none;
    transition: all .5s;
}


#linkedin {
    font-size: 30px;
    padding: 20px;
    background:rgb(32, 30, 30);
    border-radius: 50%;
}

#linkedin:hover {
    background: #00d4ff;
    transform: scale(1.1);
}

#github {
    font-size: 30px;
    padding: 20px;
    background: rgb(32, 30, 30);
    border-radius: 50%;
}

#github:hover {
    background-color: #00d4ff;
    transform: scale(1.1);
    border: #00d4ff;
}


@keyframes slide_left {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide_right {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes openSearchBar {
    0% {
        width: 45px
    }
    100% {
        width: 300px;
    }
}
/*------------------------------------------------------------------------------*/
@media only screen and (min-width: 1500px) {
    #contact {
        height: 60rem;
    }
}

@media only screen and (max-width: 768px) {
    .nav_links, #canvas1, .current_weather_class, .hide{
        display: none;
    }
    .fa-bars {
        display: flex;
    }
    
    .backgroundVideo {
        width: 200%;
    }
    
    .current_weather_container {
        display: block;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .current_date_container{
        display: block;
        text-align: center;
        width: 100%;
    }
    .cityName h2, .current_date{
        text-align: center;
    }
    .cityName{
        font-size: 30px;
    }

    .current_weather, .current_temp_container{
        width: 100%;
    }
    .moveLeft, .current_temp_container{
        padding: 0;
    }
}

@media only screen and (max-width: 480px) {
    
    .current_weather_container {
        padding-top: 10px;
    }
    .current_weather {
        padding: 0;
    }
    .icons, .bottom {
        display: block
    }
    .slider_container1 {
        height: 90px;
    }
    .slider_container2, .slider2{
        height: 40vh;
        overflow: scroll;
    }
    .current_temp_container {
        font-size: 64px;
    }
    .innerSlider2{
        height: 100%;
    }
    .top .forecast_weather_class {
        padding-right: 65px;
    }
    .forecast_weather_class{
        min-width: 50px;
    }
    .alignLeft {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    .increaseFont{
        width: 79px;
    }
    .weatherDescription {
        display: none;
    }
    .changeIconSize {
        height: 35px;
    }
    .weather_image{
        width: 35px;
        height: 35px;
    }
    .skillsWrapper{
        display: block;
    }
    #white, .darkH1, .about1 {
        font-size: 1.7rem;
    }
    
}
